<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro | Study Buddy</title>
    <link rel="stylesheet" href="/css/pomodoro.css">
</head>
<body>

    <h1 id="mode">Focus Time</h1>

    <div id="timer">25:00</div>

    <div>
        <button id="start">Start</button>
        <button id="pause">Pause</button>
        <button id="reset">Reset</button>
    </div>

    <script src="/js/pomodoro.js"></script>
</body>
</html>
