<h1>New Note</h1>

<form action="/notes" method="POST">
  <input type="text" name="note[title]" placeholder="Title" required>
  <br>
  <textarea name="note[content]" placeholder="Write your note..." required></textarea>
  <br>
  <input type="text" name="note[tag]" placeholder="Tag">
  <br>
  <button>Create</button>
</form>
